<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello world</title>
</head>

<body>
    <h1>hello world</h1>
    <form action="/setup-profile" method="POST"><button type="submit">Set up your profile</button></form>
    <br>
    <form action="/setup-persistent" method="POST"><button type="submit">Set up persistent menu</button></form>

    <h3>This appp built by <span style="color: red">Kunz</span></h3>
</body>

</html>